body {
    background: whitesmoke;
    margin: 0px;
    padding: 0px;
}

h1 {
    padding: 5px;
}

h1, .add-btn, .devoured-btn, .delete-btn, h3, h4 {
    background: #797777;
    color: #ffdab9;
    border-radius: 5px;
}

.main-img {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10px;
    height: 250px;
}

.order {
    margin: 10px 0px;
}

h3 {
    width: fit-content;
}

.add-btn {
    margin: 0px 5px;
}

.add-btn:hover {
    background: #5a5757;
    border-color: #5a5757;
    color: #ffdab9;
}

ul {
    list-style-type: none;
    white-space: nowrap;
    padding: 0px;
}

h3, h4 {
    padding: 10px;
}

.burger-list {
    background: #d2d2d2;
    padding: 0px;
    border-radius: 5px;
}

li {
    margin: 5px;
    color: #797777;
}

.devoured-btn:hover, .delete-btn:hover {
    background: #5a5757;
    border-color: #5a5757;
}